.navbar {
    padding-left: 12%;
    padding-right: 12%;
    background-color: #1e5a8d;

    .navbar-nav {
        margin-left: auto;
    }
    .navbar-brand {
        color: white;
    }
    .navbar-collapse {
        text-align: left;
    }
    .navbar-brand:hover {
        color: #8ba9c3;
    }
    .nav-item {
        .nav-link {
            font-size: 20px;

            color: white;
        }
        .nav-link:hover, .nav-link:active {
            color: #8ba9c3;
        }
    }
    .dropdown-menu {
        background-color: #1e5a8d;
        .dropdown-item:hover {
            background-color: #1e5a8d;
        }
    }
}
